# Object files
*.o
*.d43
*.r43
Debug/

# Debugger Watchwindows
*.wsdt
*.sfr

# IDE files
*.dep
*.ewd
settings/

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.bat
